<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Role interface</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/menu.css}" />
<link rel="stylesheet" th:href="@{/css/table.css}" />
</head>
<body>
	<span th:include="fragments/menu :: menu"></span>
	
    <table class="container">
        <th><h1>Iter Id</h1></th>
        <th><h1>ID</h1></th>
        <th><h1>Nazwa</h1></th>

        <tr th:each="role, iter : ${roles}">
            <td th:text="${iter.index + 1}" ></td>
            <td th:text="${role.id}" ></td>
            <td th:text="${role.roleName}" ></td>
        </tr>
    </table>
</body>
</html>